﻿@model IEnumerable<TestCrud.Models.UserList>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<div class="row">
    <div class="col-12">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Tipo Usuario</th>
                    <th>Usuario</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserTypeName</td>
                        <td>@item.UserName</td>
                        <td>@(item.status==true?"Activo":"Inactivo")</td>
                        <td>
                            <a href="">Editar</a>|
                            <a href="">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="pull-right">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
