﻿@model IEnumerable<TestCrud.Models.UserTypeList>
@{
    ViewData["Title"] = "UserTypeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tipos de usuario</h1>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Tipo Usuario</th>
            <th>Url redirect</th>
            <th>Estatus</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TypeName</td>
                <td>@item.UrlPage</td>
                <td>@(item.Status==true?"Activo":"Inactivo")</td>
                <td>
                    <a href="">Editar</a>|
                    <a href="">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>