﻿@{
    ViewData["Title"] = "Login";
}

<link href="~/css/login.css" rel="stylesheet" />

<div class="row">
    <div class="col-4 col-md-4">
        <form action="@Url.Action("LoginUser","home")" method="post">
            <div class="imgcontainer">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" style="width:100px" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="User" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="UserPass" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>          
        </form>
        <p style="color:salmon">@TempData["Error"] </p>
    </div>
</div>